// Помощники
@import 'utils/parameters'; // переменные
@import 'utils/mixins'; //миксины scss
//Общее
@import 'main/stylesheet'; // шрифты
@import 'main/reset'; // сброс стилей для кроссбраузерности
@import 'main/common'; // общие стили
// дальше можно писать все стили сайта в этот файл, или писать их в компонентах
@import 'components/header';
@import 'components/first-section';
@import 'components/second-section';
@import 'components/third-section';
div.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}