@import "../utils/parameters";
@import "../utils/mixins";
.first-section {
    &__block {
        background-image: url('../../assets/imgs/first-section-background.jpg');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        min-height: 76.5rem;
        padding-top: 15rem;
        .first-section-content {
            margin: 0 auto;
            max-width: 50rem;
            .first-section-title {
                width: 100%;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 54px;
                line-height: 148%;
                text-align: center;
                letter-spacing: 1.8px;
                color: $c-text;
            }
            .first-section-text {
                margin-top: 4.1rem;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 167%;
                /* or 167% */
                text-align: center;
                color: $c-text;
            }
        }
        .buttons {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            max-width: 32rem;
            .regular-button {
                @include regular-button-style;
                width: 100%;
                min-height: 4.5rem;
                margin: 4.1rem auto 0 auto;
                @include button-link-style;
                transition: all 0.4s ease;
            }
            .regular-button:hover {
                @include transparent-button-style;
                color: $c-text-button2;
            }
            .transparent-button {
                @include transparent-button-style;
                margin: 2rem auto 0 auto;
                width: 100%;
                min-height: 4.5rem;
                @include button-link-style;
                color: $c-text-button2;
                transition: all 0.4s ease;
            }
            .transparent-button:hover {
                @include regular-button-style;
                color: $c-text-button;
            }
        }
    }
}

@media (max-width: $md) {
    .first-section {
        &__block {
            min-height: 70rem;
            padding-top: 15rem;
            .first-section-content {
                .first-section-title {
                    font-size: 4.8rem;
                    letter-spacing: 1.5px;
                    line-height: 130%;
                }
                .first-section-text {
                    margin-top: 3rem;
                    font-size: 1.5rem;
                    line-height: 167%;
                }
            }
            .buttons {
                max-width: 28rem;
                .regular-button {
                    min-height: 4.5rem;
                    margin: 6rem auto 0 auto;
                    font-size: 1.4rem;
                }
                .transparent-button {
                    min-height: 4.5rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .first-section {
        &__block {
            min-height: 55rem;
            padding-top: 10rem;
            .first-section-content {
                max-width: 40rem;
                .first-section-title {
                    font-size: 4rem;
                    letter-spacing: 1.5px;
                }
                .first-section-text {
                    font-size: 1.4rem;
                }
            }
            .buttons {
                max-width: 24rem;
                .regular-button {
                    min-height: 4.3rem;
                    margin: 4rem auto 0 auto;
                    font-size: 1.2rem;
                }
                .transparent-button {
                    margin: 1.7rem auto 0 auto;
                    min-height: 4.3rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: $xxs) {
    .first-section {
        &__block {
            min-height: 43rem;
            padding-top: 6rem;
            .first-section-content {
                max-width: 32rem;
                .first-section-title {
                    font-size: 3.2rem;
                    letter-spacing: 1.1px;
                }
                .first-section-text {
                    font-size: 1.2rem;
                }
            }
            .buttons {
                max-width: 20rem;
                .regular-button {
                    min-height: 4rem;
                    margin: 2rem auto 0 auto;
                    font-size: 1.2rem;
                }
                .transparent-button {
                    min-height: 4rem;
                    margin: 2rem auto 0 auto;
                    font-size: 1.2rem;
                }
            }
        }
    }
}