// для каждого компонента нужно импортить переменные, чтобы их использовать
@import "../utils/parameters";
@import "../utils/mixins";
.header {
    box-sizing: border-box;
    position: relative;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        min-height: 8rem;
        flex-wrap: wrap;
        .nav-left {
            width: 40%;
            &__list {
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                .nav-list-item {
                    margin-right: 2.8rem;
                    .nav-link {
                        @include nav-link-style;
                        transition: color 0.5s ease;
                    }
                    .nav-link:hover {
                        color: $c-text3;
                    }
                }
            }
        }
        .logo {
            display: block;
            margin: 0 auto;
            width: 20%;
            .logo-img {
                width: 100%;
                max-height: 3.3rem;
            }
        }
        .nav-right {
            display: flex;
            justify-content: flex-end;
            width: 35%;
            &__list {
                flex-wrap: wrap;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-top: 0.65rem;
                .nav-list-item {
                    margin-right: 2.8rem;
                    .nav-link {
                        @include nav-link-style;
                        transition: color 0.5s ease;
                    }
                    .nav-link:hover {
                        color: $c-text3;
                    }
                    .nav-acc-img {}
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .header__row {
        .nav-left__list {
            li.nav-list-item:not(:last-child) {
                margin-bottom: 1rem;
                margin-right: 2rem;
            }
        }
        .logo {
            .logo-img {
                max-height: 3.3rem;
            }
        }
        .nav-right__list {
            .nav-list-item {
                .nav-link {
                    font-size: 1.1rem;
                }
                margin-bottom: 1rem;
                margin-right: 1.5rem;
            }
        }
        .acc-img {
            width: 1.5rem;
        }
    }
}

@media (max-width: $xs) {
    .header__row {
        .nav-left_list {
            .nav-list-item .nav-link {
                font-size: 1.1rem;
                line-height: 1rem;
                letter-spacing: 0.1rem;
            }
            .nav-link {}
        }
        .nav-right__list {
            width: 55%;
            .nav-list-item .nav-link {
                font-size: 1.1rem;
                line-height: 1rem;
                letter-spacing: 0.1rem;
            }
            .nav-link {}
        }
        .nav-acc-img {
            width: 3%;
        }
    }
}

@media (max-width: $xxs) {
    .header {
        &__row {
            .nav-left {
                justify-content: space-between;
                .nav-left__list .nav-list-item .nav-link {
                    font-size: 1rem;
                    line-height: 1rem;
                    letter-spacing: 0.1rem;
                }
            }
        }
    }
    .logo-img {
        max-width: 12rem;
    }
    .nav-right {
        justify-content: space-between;
        .nav-right__list .nav-list-item .nav-link {
            font-size: 1rem;
            line-height: 1rem;
            letter-spacing: 0.1rem;
        }
    }
    .acc-img {
        padding-top: 0.2rem;
        max-width: 1.5rem;
    }
}