@import "../utils/parameters";
@import "../utils/mixins";
.seventh-section {
    display: flex;
    flex-wrap: wrap;
    min-height: 60.1rem;
    max-width: 144rem;
    margin: 0 auto;
    align-items: center;
    .seventh-section-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        align-items: center;
        .seventh-section-box {
            display: flex;
            flex-direction: column;
            background: #E8EFE9;
            //max-width: 69rem;
            min-height: 60.1rem;
            margin: 0 0.5rem;
            padding-top: 13rem;
            .seventh-section-img {
                padding-bottom: 4.3rem;
                align-items: center;
                margin: 0 auto;
            }
            .seventh-section-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 161%;
                text-align: center;
                letter-spacing: 0.84px;
                color: #0B3B3C;
                padding-left: 9.2rem;
                padding-right: 9.2rem;
            }
            .seventh-section-text {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 30px;
                /* identical to box height, or 187% */
                text-align: center;
                color: #0B3B3C;
                padding-top: 13.7rem;
            }
        }
        &__left {
            width: 50%;
        }
        &__right {
            width: 50%;
        }
    }
}

@media (max-width: $md) {
    .seventh-section {
        margin-top: 3rem;
        .seventh-section-block {
            .seventh-section-box {
                min-height: 40rem;
                margin: 0 0.5rem;
                padding-top: 7rem;
                .seventh-section-img {
                    padding-bottom: 2rem;
                }
                .seventh-section-title {
                    font-size: 2rem;
                    line-height: 161%;
                    letter-spacing: 0.6px;
                }
                .seventh-section-text {
                    font-size: 1.2rem;
                    line-height: 30px;
                    text-align: center;
                    color: #0B3B3C;
                    padding-top: 8rem;
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .seventh-section {
        .seventh-section-block {
            .seventh-section-box {
                min-height: 30rem;
                margin: 0 0.5rem;
                padding-top: 5rem;
                .seventh-section-img {
                    padding-bottom: 1.5rem;
                }
                .seventh-section-title {
                    font-size: 1.6rem;
                }
                .seventh-section-text {
                    font-size: 1.2rem;
                    line-height: 30px;
                    text-align: center;
                    color: #0B3B3C;
                    padding-top: 5rem;
                }
            }
        }
    }
}

@media (max-width: $xs) {
    .seventh-section {
        .seventh-section-block {
            &__left {
                width: 100%;
                padding-bottom: 0.5rem;
            }
            &__right {
                width: 100%;
            }
        }
    }
}