@import "../utils/parameters";
@import "../utils/mixins";
.twelfth-section {
    .twelfth-section-block {
        background: #0B3B3C;
        min-height: 57rem;
        max-width: 144rem;
        padding-top: 1rem;
        &__map {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 0 22rem;
            align-items: center;
            min-height: 29.9rem;
            .map-first-col {
                max-height: 21.9rem;
                margin-right: 5.9em;
                .contacts-img {
                    background-color: #FFFFFF;
                    border-radius: 1rem;
                    width: 2rem;
                    height: 2rem;
                    margin-right: 1rem;
                }
                .first-col-title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 25px;
                    /* identical to box height, or 140% */
                    letter-spacing: 2.7px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    margin-bottom: 0.9rem;
                }
                .first-col-text {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 25px;
                    /* identical to box height, or 180% */
                    letter-spacing: 0.84px;
                    color: #6D8A83;
                    margin-bottom: 1rem;
                }
                .first-col-contacts {
                    .contacts-tel {
                        margin-bottom: 2.3rem;
                        .tel-number {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 25px;
                            /* identical to box height, or 180% */
                            letter-spacing: 0.84px;
                            color: #FFFFFF;
                        }
                        .worktime {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 22px;
                            /* identical to box height, or 180% */
                            letter-spacing: 0.72px;
                            color: #6D8A83;
                            padding-left: 3rem;
                        }
                    }
                    .contacts-mail {
                        .mail-link {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 25px;
                            /* identical to box height, or 194% */
                            letter-spacing: 0.84px;
                            color: #FFFFFF;
                        }
                        .worktime {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 22px;
                            /* identical to box height, or 180% */
                            letter-spacing: 0.72px;
                            color: #6D8A83;
                            padding-left: 3rem;
                            margin-bottom: 3rem;
                        }
                    }
                }
            }
            .map-menu {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 70%;
                .map-menu-col {
                    .map-menu-title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height, or 140% */
                        letter-spacing: 2.1px;
                        text-transform: uppercase;
                        color: #6D8A83;
                    }
                    .map-columns-links {
                        margin-bottom: 1.4rem;
                        .maip-link {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 13px;
                            line-height: 25px;
                            /* identical to box height, or 194% */
                            letter-spacing: 0.84px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
        &__info {
            margin: 0 22rem;
            .info-social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 4rem 1rem;
                flex-wrap: nowrap;
                .info-logo {}
                .info-social-media {
                    display: flex;
                    flex-wrap: nowrap;
                    .social-media {
                        padding: 0 0.55rem
                    }
                }
            }
            .info-legacy {
                margin-bottom: 0.9rem;
                .info-item-link {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 22px;
                    /* identical to box height, or 180% */
                    letter-spacing: 0.72px;
                    color: #FFFFFF;
                    padding-right: 2rem;
                }
            }
            .copyright {
                display: flex;
                flex-direction: column;
                .footer-info {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 22px;
                    /* identical to box height, or 196% */
                    letter-spacing: 0.72px;
                    color: #6D8A83;
                    padding-bottom: 0.9rem;
                }
                .rights {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 22px;
                    /* identical to box height, or 180% */
                    letter-spacing: 0.72px;
                    color: #6D8A83;
                }
            }
        }
    }
}

@media (max-width: $lg) {
    .twelfth-section {
        .twelfth-section-block {
            min-height: 50rem;
            &__map {
                margin: 0 10rem;
                .map-first-col {
                    margin-right: 3rem;
                    .first-col-title {
                        font-size: 1.6;
                        line-height: 140%;
                    }
                    .first-col-text {
                        font-size: 1.2rem;
                        line-height: 180%;
                    }
                    .first-col-contacts {
                        .contacts-tel {
                            margin-bottom: 1.5rem;
                        }
                    }
                }
                .map-menu {
                    .map-menu-col {
                        .map-menu-title {
                            font-size: 1.2rem;
                            line-height: 140%;
                        }
                        .map-columns-links {
                            margin-bottom: 0.3rem;
                            .maip-link {
                                font-size: 1rem;
                                line-height: 194%;
                            }
                        }
                    }
                }
            }
            &__info {
                margin: 0 10rem;
                .info-social {
                    align-items: center;
                    margin: 0 1rem;
                    .social-media {
                        padding: 0 0.55rem;
                        max-height: 4.5rem;
                        max-width: 4.5rem;
                    }
                }
            }
            .info-legacy {
                .info-item-link {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 180%;
                    letter-spacing: 0.72px;
                    color: #FFFFFF;
                    padding-right: 2rem;
                }
            }
            .copyright {
                display: flex;
                flex-direction: column;
                .footer-info {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 22px;
                    /* identical to box height, or 196% */
                    letter-spacing: 0.72px;
                    color: #6D8A83;
                    padding-bottom: 0.9rem;
                }
                .rights {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 1rem;
                    line-height: 180%;
                    letter-spacing: 0.72px;
                    color: #6D8A83;
                }
            }
        }
    }
}

@media (max-width: $sm) {
    .twelfth-section {
        .twelfth-section-block {
            min-height: 50rem;
            &__map {
                margin: 0 5rem;
                .map-first-col {
                    margin-right: 2rem;
                    .first-col-title {
                        font-size: 1.4rem;
                        line-height: 140%;
                    }
                    .first-col-text {
                        font-size: 1rem;
                        line-height: 180%;
                    }
                    .first-col-contacts {
                        .contacts-tel {
                            margin-bottom: 1rem;
                        }
                    }
                }
                .map-menu {
                    .map-menu-col {
                        .map-menu-title {
                            font-size: 1rem;
                            line-height: 140%;
                        }
                        .map-columns-links {
                            margin-bottom: 0.3rem;
                            .maip-link {
                                font-size: 0.8rem;
                                line-height: 194%;
                            }
                        }
                    }
                }
            }
            &__info {
                margin: 0 5rem;
                .info-social {
                    align-items: center;
                    margin: 0 1rem;
                    flex-wrap: wrap;
                    .info-social-media {
                        display: flex;
                        flex-wrap: nowrap;
                        .social-media {
                            padding: 0 0.55rem;
                            max-height: 4rem;
                            max-width: 4rem;
                        }
                    }
                }
                .info-legacy {
                    .info-item-link {
                        font-size: 1rem;
                        line-height: 180%;
                        letter-spacing: 0.3px;
                        color: #FFFFFF;
                        padding-right: 1rem;
                    }
                }
                .copyright {
                    .footer-info {
                        font-size: 0.9rem;
                        line-height: 196%;
                        padding-bottom: 0.5rem;
                    }
                    .rights {
                        font-size: 0.9rem;
                        line-height: 180%;
                        letter-spacing: 0.72px;
                        color: #6D8A83;
                    }
                }
            }
        }
    }
}

@media (max-width: $xs) {
    .twelfth-section {
        .twelfth-section-block {
            min-height: 45rem;
            &__map {
                .map-first-col {
                    margin-right: 2rem;
                    .first-col-title {
                        font-size: 1.2rem;
                        line-height: 140%;
                    }
                    .first-col-text {
                        font-size: 1rem;
                        line-height: 180%;
                    }
                    .first-col-contacts {
                        .contacts-img {
                            display: none;
                        }
                        .contacts-tel {
                            margin-bottom: 1rem;
                            .tel-number {
                                font-size: 1rem;
                                line-height: 180%;
                            }
                            .worktime {
                                font-size: 1rem;
                                line-height: 180%;
                            }
                        }
                        .contacts-mail {
                            .mail-link {
                                font-size: 1rem;
                                line-height: 194%;
                            }
                            .worktime {
                                font-size: 1rem;
                                line-height: 180%;
                                padding-left: 3rem;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }
            }
        }
        &__info {
            margin: 0 0.5rem;
            .info-legacy {
                .info-item-link {
                    font-size: 1rem;
                    line-height: 180%;
                    letter-spacing: 0.3px;
                    color: #FFFFFF;
                    padding-right: 1rem;
                }
            }
            .copyright {
                .footer-info {
                    font-size: 0.9rem;
                    line-height: 196%;
                    padding-bottom: 0.5rem;
                }
                .rights {
                    font-size: 0.9rem;
                    line-height: 180%;
                }
            }
        }
    }
}