section.eleventh-section
    div.container 
        div.eleventh-section-block
            .eleventh-section-block__content
                h2.eleventh-section-block__content-title GUIDED
                p.eleventh-section-block__content-text Your own personal wellbeing guide. Experts, information and hot topics right at your fingertips.
            .eleventh-section-block__info 
                .info-item-box 
                    img(src="./assets/imgs/eleventh-section-men-fail.jpg" alt="done").item-img
                    .info-item-wrapper
                        h2.info-item-title Why do men fail at well-being?    
                        a.info-item-link(href="#") READ MORE              
                .info-item-box 
                    img(src="./assets/imgs/eleventh-section-steps.jpg" alt="done").item-img
                    .info-item-wrapper
                        h2.info-item-title 8 steps to prevent hair loss?    
                        a.info-item-link(href="#") READ MORE
                
                .info-item-box 
                    img(src="./assets/imgs/eleventh-section-disf.jpg" alt="done").item-img
                    .info-item-wrapper
                        h2.info-item-title Erectile Dysfunction 101    
                        a.info-item-link(href="#") READ MORE

                .info-item-box 
                    img(src="./assets/imgs/eleventh-section-hair.jpg" alt="done").item-img
                    .info-item-wrapper
                        h2.info-item-title Let’s talk hair – treatments and advice    
                        a.info-item-link(href="#") READ MORE

                .info-item-box 
                    img(src="./assets/imgs/eleventh-section-testosterone.jpg" alt="done").item-img
                    .info-item-wrapper
                        h2.info-item-title Testosterone support 101    
                        a.info-item-link(href="#") READ MORE                  

                



