section.fifth-section
    div.container 
        div.fifth-section-block
            .fifth-section-block__left
                h2.block__left-title Manual Wellbeing
                span.block__left-text Our new offering is a holistic plan to improve your health with recommendations
                span.block__left-text from medical experts, as well as tracking and ongoing clinician support.
                .button
                    a(href="#").regular-button VIEW MORE
                .block__left-text-row 
                    span.text-row Online consultation

                    span.text-row Personalised health plan

                    span.text-row Tracking & Clinician support   

            .fifth-section-block__right
