section.first-section
    div.container 
        div.first-section__block
            div.first-section-content
                h1.first-section-title Men’s health. The way it should be.
                p.first-section-text No waiting rooms or awkward conversations. Just clinically proven treatments direct to your door with support along the way.
            div.buttons
                a(href="#").regular-button Get Started
                a(href="#").transparent-button View Treatments

