
section.fourth-section
    div.container 
        div.fourth-section-block
            h2.fourth-section-block__title The most effective treatments. Backed by science.
            .fourth-section-block__content 
                    
                    .fourth-section-block__item
                        img(src='./assets/imgs/fourth-section-block__item-first.png').item-img-first
                        
                        .bottom-content-item
                            h2.item-title Hair Loss
                            span.item-text Now hair loss is treatable. There are clinically proven treatments
                            span.item-text  effective in 9/10 men. And we have them all here.
                            a.item-link(href="#") View Treatments
                                    
                    .fourth-section-block__item
                        img(src='./assets/imgs/fourth-section-block__item-second.png').item-img-second
                        
                        .bottom-content-item
                            h2.item-title Sex health
                            span.item-text Erectile dysfunction (ED) happens to a lot of us. We can help you
                            span.item-text figure out why. And offer a number of treatments that can help too.
                            a.item-link(href="#") View Treatments
                                    
                    .fourth-section-block__item
                        img(src='./assets/imgs/fourth-section-block__item-skin.png').item-img-third
                        
                        .bottom-content-item
                            h2.item-title Skin
                            span.item-text Healthy skin is key to keep you feeling and looking your best. We’ve
                            span.item-text harnessed the best science has to offer so you can look after yours.
                            a.item-link(href="#") View Treatments
                                    
                    .fourth-section-block__item
                        img(src='./assets/imgs/fourth-section-block__content-item-daily.png').item-img-fourth
                        
                        .bottom-content-item
                            h2.item-title Daily Health
                            span.item-text Help your body fight the good fight with our scientifically proven range of
                            span.item-text nutrients and vitamins. Making healthier easier, every day.
                            a.item-link(href="#") View Treatments
