header.header 
    div.container
        .header__row
            .nav-left 
                ul.nav-left__list 
                    li.nav-list-item 
                        a(href="#").nav-link Shop
                    li.nav-list-item 
                        a(href="#").nav-link Read
                    li.nav-list-item 
                         a(href="#").nav-link 020 8004 7160
            .logo 
                a(href="#").logo-link
                    img(src="./assets/imgs/logo.svg",
                    alt="MANUAL").logo-img
            .nav-right
                ul.nav-right__list 
                    li.nav-list-item 
                        a(href="#").nav-link About
                    li.nav-list-item 
                        a(href="#").nav-link Login
            div.nav-acc-img
                a(href="#").nav-account
                    img(src="./assets/imgs/account.svg",
                    alt="ACCOUNT").acc-img    
                

