section.second-section
    div.container 
        div.second-section-block
            .__item
                .item-img
                    img(src="./assets/imgs/second-section-item-first-img.png",
                    alt="ACCOUNT")
                .item-text 
                    p UK licenced medication
            .__item
                .item-img
                    img(src="./assets/imgs/second-section-item-second-img.png",
                    alt="ACCOUNT")
                .item-text 
                    p Free, discreet delivery
            .__item
                .item-img
                    img(src="./assets/imgs/second-section-item-third-img.png",
                    alt="ACCOUNT")
                .item-text 
                    p Cancel any time     
            .__item
                .item-img
                    img(src="./assets/imgs/second-section-item-fourth-img.png",
                    alt="ACCOUNT")
                .item-text 
                    p Ongoing clinician support
   
