section.seventh-section
    div.container 
        div.seventh-section-block
            mixin seventh-section-block (args={})
                .seventh-section-box 
                    img(src=args.img alt=args.title).seventh-section-img

                    h2.seventh-section-title=args.title
                    p.seventh-section-text=args.text       
            .seventh-section-block__left
                +seventh-section-block({
                    img: './assets/imgs/seventh-section-stars.png',
                    title: 'Quick and discreet and saved me a trip to the GP.',

                    text: 'Zander'
                })
            .seventh-section-block__right
                +seventh-section-block({
                    img: './assets/imgs/seventh-section-stars.png',
                    title: 'Great product, restores confidence and performance!',

                    text: 'Zander'
                })