section.sixth-section
    div.container 
        div.sixth-section-block
            span.sixth-section-block__pretitle Our medical team work round the clock to bring you the most effective treatments available in the UK
            h2.sixth-section-block__title Dr.Earim Chaudry, Medical Director
            img(src="./assets/imgs/sixth-section-block__photo.png" alt="photo").sixth-section-block__photo
            .sixth-section-block__rate-wrapper 
                img(src="./assets/imgs/sixth-section-block__star.png" alt="photo").img-star
                img(src="./assets/imgs/sixth-section-block__trustpilot.png" alt="photo").img-trustpilot
                img(src="./assets/imgs/sixth-section-block__rate.png" alt="photo").img-section-block-rate
            .sixth-section-block__rewiews
                span.rewiews-text Based on
                p.rewiews-content 1169
                span.rewiews-text reviews
