section.tenth-section
    div.container 
        div.tenth-section-block
            .tenth-section-block__buttons
                a(href="#").regular-button-first Treat Ed      
                a(href="#").regular-button-second Treat Hair Loss      

