section.third-section
    div.container 
        div.third-section-block
            .third-section-block__header
                h2.third-section-block__header-title Healthcare. Made easy.
                img(src="./assets/imgs/third-section-block__row-item_img-rate.png", alt="rate").third-section-block__header-rate
                .third-section-block__header-text
                    span.third-section-block__header-text-bold Rated excellent 
                    span.third-section-block__header-text-regular on Trustpilot
            .third-section-block__row 
                .third-section-block__row-items
                    .third-section-block__row-move
                        img(src="./assets/imgs/third-section-block__row-item_img-arrow.png", alt="").third-section-block__row-move_img
                    .third-section-block__row-item
                        img(src="./assets/imgs/third-section-block__row-item_img-first.png", alt="").third-section-block__row-item_img-first
                        h3.third-section-block__row-item_title Treatments online
                        .third-section-block__row-first-item_text
                            span.row-item_text We’ll ask you a couple of quick medical questions. Tick the boxes and a clinician will review your answers and issue you a prescription.
                    .third-section-block__row-item
                        img(src="./assets/imgs/third-section-block__row-item_img-second.png", alt="").third-section-block__row-item_img-second
                        h3.third-section-block__row-item_title Free fast delivery
                        .third-section-block__row-second-item_text
                            span.row-item_text Your selected treatments will be delivered for free in discreet packaging. There’ll be some helpful info included to make sure you get the best out of it.
                    .third-section-block__row-move-invert
                        img(src="./assets/imgs/third-section-block__row-item_img-arrow.png", alt="").third-section-block__row-move-invert_img
                    .third-section-block__row-item
                        img(src="./assets/imgs/third-section-block__row-item_img-third.png", alt="").third-section-block__row-item_img-third 
                        h3.third-section-block__row-item_title Clinician support
                        .third-section-block__row-third-item_text
                            span.row-item_text Chat with a medical expert whenever you need. On the phone or via email. With support throughout your treatment.        
            .third-section-block__arrow
                img(src="./assets/imgs/third-section-block__row-item_img-arrow-end.png", alt="arrow").third-section__arrow-img             