section.twelfth-section
    div.container 
        div.twelfth-section-block
            .twelfth-section-block__map 
                .map-first-col 
                    h2.first-col-title Have a question?
                    p.first-col-text Whatever it is, get in touch:
                    ul.first-col-contacts 
                        li.contacts-tel
                            img(src="./assets/imgs/map-first-col-call.png" alt="tel").contacts-img
                            a.tel-number(href="#") 020 8004 7160
                            p.worktime Mon-Fri 9:00-17:30
                        li.contacts-mail
                            img(src="./assets/imgs/map-first-col-mail.png" alt="e-mail").contacts-img
                            a.mail-link(href="#") help@manual.com
                            p.worktime We aim to reply in 24hrs    

                .map-menu
                    .map-menu-col
                        h2.map-menu-title LEARN
                            ul.map-columns 
                                li.map-columns-links
                                    a.maip-link(href="#") Erectile Dysfunction
                                li.map-columns-links
                                    a.maip-link(href="#") Hair Loss
                                li.map-columns-links
                                    a.maip-link(href="#") Skin
                                li.map-columns-links
                                    a.maip-link(href="#") Sexual Health            
                                li.map-columns-links
                                    a.maip-link(href="#") Masculinity
                    .map-menu-col
                        h2.map-menu-title MANUAL
                            ul.map-columns 
                                li.map-columns-links
                                    a.maip-link(href="#") Home
                                li.map-columns-links
                                    a.maip-link(href="#") Mission
                                li.map-columns-links
                                    a.maip-link(href="#") FAQ
                                li.map-columns-links
                                    a.maip-link(href="#") Medical Experts            
                                li.map-columns-links
                                    a.maip-link(href="#") Success Stories
            .twelfth-section-block__info 
                .info-social 
                    .info-logo
                        img(src="./assets/imgs/footer-logo.png" alt="logo").info-logo-img 
                    .info-social-media 
                        img(src="./assets/imgs/footer-facebook.png" alt="facebook").social-media
                        img(src="./assets/imgs/footer-twitter.png" alt="twitter").social-media
                        img(src="./assets/imgs/footer-instagram.png" alt="instagram").social-media

                .info-legacy 
                    a.info-item-link(href="#") Privacy Policy
                    a.info-item-link(href="#") Terms & Conditions
                    a.info-item-link(href="#") Terms of Sale
                    a.info-item-link(href="#") Complaints
                
                .copyright
                    span.footer-info Pharmacies: Manual Pharmacy
                    span.rights Copyright  2021 Manual™. All rights reserved.




