    // пример миксина
    @mixin title() {}
    
    @mixin nav-link-style () {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.4rem;
        /* identical to box height */
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        color: $c-text;
    }
    
    @mixin regular-button-style () {
        background-color: $c-primary-button;
        border: 2px solid $c-primary-button;
        box-sizing: border-box;
        border-radius: 0px;
        padding-top: 1.5rem;
    }
    
    @mixin transparent-button-style () {
        background-color: transparent;
        border: 2px solid $c-primary-button;
        box-sizing: border-box;
        border-radius: 0px;
        padding-top: 1.5rem;
    }
    
    @mixin button-link-style () {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 143%;
        /* identical to box height, or 143% */
        text-align: center;
        letter-spacing: 0.21rem;
        text-transform: uppercase;
        color: $c-text-button;
    }